body {
    font-family: 'roboto', sans-serif;
}

/*Nav Bar*/

.navalert-container {
    position: absolute;
    top:0;
    left:0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}
 .alert-container .col-12 {
     padding-left: 0;
     padding-right: 0;


 }

 

 .callout-container {
     height: 100vh;
     background: url(https://images.unsplash.com/photo-1594152032829-a443a4cd7390?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }

 .opaque-overlay {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width:100%;
     background-color: rgba(0,0, 0,0.5);
 }


.quotes-container {
 }

 .featuers-container {
 }

 /* Page Headers*/

 .page-header {
     margin-bottom: 0;
     border-bottom: 0;
     text-align: center;   
 }

 .page-header h2 {
     margin-top: 0;
     
 }


.jumbotron {
    background-color: transparent;
}

 .jumbotron-header {
     color: white;
     font-weight: bold;
     margin-bottom: 30px;
     

 }


.jumbotron .lead {
    margin: 25px 0;
    color:  #d0d0d0;
}
 .jumbotron small {
     
     font-size: 90%;
     font-style: italic;
     color: #d0d0d0;
 }


/*  Block Dividers */

 .block-dividers {
     width: 75px;
     height: 5px;
     border: 0;
     
 }

 .block-dividers-orange {
     background-color:#f05f40;

 }

 .block-dividers-short {
     width: 35px;
 }

 /* buttons */

 .btn-cta {
     font-weight: bold;
     border-radius: 23px;
     width: 160px;
 }

 .btn-red {
     color: white;
     background-color: #f05f40;
     border-color: #f05f40;
 }

 .btn-red:hover,
 .btn-red:active,
 .btn-red:focus,
 .btn-red:active:focus {
    color: white;
    background-color:#df4929;
    border-color: #df4929;
 }

 .site-wide-alert {
     border-radius: 0px;
     margin-bottom: 0px;
     padding: 5px 15px;
     background-color: #eec802;
     border-color: #eec802;
 }